source https://nuget.org/api/v2

nuget FAKE
nuget FSharp.Formatting
nuget FSharp.Compiler.Service
nuget Nuget.CommandLine
nuget NUnit
nuget NUnit.Runners
nuget FSharp.Compiler.Service
nuget Unquote
nuget Yaaf.FSharp.Scripting
nuget Microsoft.AspNet.Razor == 2.0.30506.0
nuget RazorEngine