source https://nuget.org/api/v2

//Build
nuget Yaaf.AdvancedBuilding
nuget NUnit.Runners
// Until windows support is fixed
nuget FSharp.Formatting == 2.6.3

// Project
nuget FSharp.Core
nuget Yaaf.FSharp.Helper
nuget Yaaf.Sasl
nuget Yaaf.DependencyInjection
nuget Yaaf.DependencyInjection.SimpleInjector

// Test
// Until Visual Studio test runner supports later versions.
nuget NUnit == 2.6.3
nuget Unquote
nuget Foq content: none
nuget FsUnit

github matthid/Yaaf.FSharp.Helper src/test/Test.Yaaf.FSharp.Helper/MyTestClass.fs
github matthid/Yaaf.FSharp.Helper src/test/Test.Yaaf.FSharp.Helper/StreamTestClass.fs
