<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="3.1.2.1" targetFramework="net451" />
  <package id="FSharpx.Collections" version="1.10.1" targetFramework="net451" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="net451" />
  <package id="Yaaf.DependencyInjection" version="1.0.0" targetFramework="net451" />
  <package id="Yaaf.DependencyInjection.Ninject" version="1.0.0" targetFramework="net451" />
  <package id="Yaaf.FSharp.Helper" version="0.1.3" targetFramework="net451" />
  <package id="Yaaf.Logging" version="1.0.1" targetFramework="net451" />
  <package id="Yaaf.Portable.Text.Encoding" version="0.7.0.0" targetFramework="net451" />
  <package id="Yaaf.Sasl" version="1.0.0" targetFramework="net451" />
</packages>